/* Autor : jhon.thoth@gmail.com */ 

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F0F0F0;
}

/* Cheap trick to control flash of unstyled content as templates load in */
body.unresolved {
  display: none;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

body,
span,
p {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

p {
  margin: 0;
  line-height: 1.8;
  color: #757575;
}

a {
  text-decoration: none;
  color: initial;
}

/* Demonstrate how to change the focus state for various controls */
a:hover:not(.shopping-bag),
a:focus:not(.shopping-bag),
.link:hover,
.link:focus
.btn:hover,
.btn:focus {
  outline: none;
}

/* Buttons & Links */

.link,
.btn {
  display: inline-block;
  text-transform: uppercase;
  color: #00838f;
  letter-spacing: 3px;
  font-size: 14px;
  border: none;
  background: #FFF;
  padding: 16px 16px;
  height: 45px;
  line-height: 1;
  text-align: center;
}

.link_framed,
.btn_framed {
  box-shadow: inset 0px 0px 0px 3px #00838f;
}

.link_full,
.btn_full {
  color: #FFF;
  background: #00838f;
}

.btn-row {
  display: flex;
}

.btn-row_centered {
  justify-content: center;
}

.btn-row_spaced {
  justify-content: space-around;
}

/* Container */

.container {
  width: 380px;
  margin: 0 auto;
}

/* Nav */

nav {
  height: 84px;
  background: #FFF;
  margin-bottom: 40px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.logo {
  color: #000;
}

/* Content Wrapper */

.content-wrapper {
  display: flex;
  flex-direction: column;
}

/* Row */

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tag */

.tag {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  color: #757575;
}

/* Card */

.card {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 350px;
  margin: 0 0 43px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  background-color: #FFF;
}

.card__tag-wrapper {
  position: absolute;
  top: -22px;
  display: block;
  width: 100%;
  text-align: center;
}

.card__tag {
  display: inline-block;
  padding: 10px 32px;
  background-color: #FFF;
}

.card__img {
  display: block;
}

.card__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

.card__title {
  font-size: 25px;
  margin: 16px 0;
  text-align: center;
}

.card__description {
  text-align: center;
  margin: 12px 0;
}

.card__data_right {
  text-align: right;
  margin: 1px 0;
}

/* Graphs */

.morris-hover {
  position:absolute;
  z-index:1000;
}
.morris-hover.morris-default-style {     
  border-radius:10px;
  padding:6px;
  color:#666;
  background:rgba(255, 255, 255, 0.8);
  border:solid 2px rgba(230, 230, 230, 0.8);
  font-family:sans-serif;
  font-size:12px;
  text-align:center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight:bold;
  margin:0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space:nowrap;
  margin:0.1em 0;
}

/* List Post Wrapper */

.list-post-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 21px;
}

/* List Row */

.list-post {
  width: 350px;
  padding: 33px 0;
  border-bottom: 1px solid #D9D9D9;
}

.list-post__tag,
.list-post__title,
.list-post__img {
  margin-bottom: 13px;
}

.list-post__title {
  font-size: 23px;
}

.list-post__img {
  width: 100%;
}

/* Social Cards */

.social-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Social Card */

.social-card {
  width: 170px;
  height: 130px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  background: #FFF;
  display: inline-block;
  margin-bottom: 17px;
}

.social-card:nth-of-type(1n+3) {
  margin-bottom: 0;
}

/* Subscribe Card */

.subscribe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;
  background: #FFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.subscribe-card__heading {
  text-align: center;
  margin-bottom: 30px;
}

.subscribe-card__field {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #D9D9D9;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 30px;
  font-family: 'Oswald', sans-serif;
}

.subscribe-card__label {
  color: #757575;
  width: 100%;
  margin-bottom: 10px;
}

.subscribe-card__label:last-of-type {
  margin-bottom: 20px;
}

/* Tablet */
@media (min-width: 800px) {

  /* Container */
  .container {
    width: 780px;
  }

  /* Row */
  .row {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 48px;
  }

  .row .card:not(:last-of-type) {
    margin-right: 20px;
  }

  /* Card */

  .card {
    margin-bottom: 0;
  }

  /* Product Card */

  .product-card {
    flex-direction: row;
    height: 480px;
    width: 780px;
  }

  .product-card__content {
    padding: 48px 30px 32px 0;
  }

  /* Aside */

  aside {
    width: 780px;
  }

  /* Hot List, Social Cards, Subscribe Card */

  .hot-list,
  .social-cards,
  .subscribe-card {
    margin: 0 auto;
  }

  /* Social Cards */

  .social-cards {
    flex-wrap: no-wrap;
  }

}

/* Desktop */

@media (min-width: 1190px) {

  /* Container */
  .container {
    width: 1170px;
  }

  /* Content Wrapper */

  .content-wrapper {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }

  /* Main */

  main {
    margin-right: 35px;
  }

  /* Product Card */

  .product-card {
    width: 780px;
  }

  /* Aside */

  aside {
    width: 357px;
    margin: 0;
  }

  /* List Post Wrapper */
  .list-post-wrapper {
    display: block;
  }

  /* List Post */

  .list-post {
    width: 100%;
  }

  /* Social Cards */

  .social-cards {
    flex-wrap: wrap;
  }

}
